body {
    margin: 0;
    text-align: center;
    color: white;
    background-color: #1B244A;
}

.title {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 36px;
    margin-bottom: -10px;
}

.score {
    background: #0a0001;
    font-size: 90px;
    color: #F94F6D;
    width: 155px;
    height: 120px;
    margin: 20px;
    border-radius: 5px;
    font-family: Cursed Timer ULiL, Regular;
}

.container {
    display: flex;
    justify-content: space-around;
}

button {
    background: none;
    color: #9AABD8;
    border-color: #9AABD8;
    border-radius: 5px;
    width: 45px;
    height: 45px;
}

#home-score-btn-1 {
    margin-right: 2.5px;
}

#home-score-btn-2 {
    margin-right: 2.5px;
}


#guest-score-btn-1 {
    margin-right: 2.5px;
}

#guest-score-btn-2 {
    margin-right: 2.5px;
}
